.BalloonColors {
    background-size: cover;
    /* margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px; */
    position: absolute;

}


@media(max-width:520px){
  .BalloonColors{
    margin-left: 12px;
  }
  }
  