/* .BalloonColors {
  background-size: cover; */
  /* margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-top: 5px; */
  /* position: absolute;
} */


.BalloonColors{
  background-size: cover;
  margin-right: -17px;
  margin-bottom: 7px;
  margin-top: 7px;
  display: flex;
  flex-direction: column;
  animation: animate 3s alternate infinite;


}

@Keyframes animate{
  0%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(-30px);
  }
  100%{
    transform: translateX(0px);
  }
} 
/* .BalloonColors:hover{
  transform: scale(1.1);
} */

/* @media(max-width:520px){
  .BalloonColors{
    margin-left: 12px;
  }
  } */

  /* .Toys {
    width: 36px;
    height: 36px;
  
    background-repeat: round;
    transform: rotate(20deg);
  }
  .red_balloon {
    background-image: url(../../../images/red_balloon.svg);
  }
  .yellow_balloon {
    background-image: url(../../../images/yellow_balloon.svg);
  }
  .pink_balloon {
    background-image: url(../../../images/pink_balloon.svg);
  }
  .green_balloon {
    background-image: url(../../../images/green_balloon.svg);
  }
  .blue_balloon {
    background-image: url(../../../images/blue_balloon.svg);
  } */
