.BalloonShop {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;


  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  }

  .ChangeBg{
    width: 100%;
    height: 100%;
  }