.content {
  position: fixed;
  top: 10%;
  left: 30%;
  width: 40%;
  background-color: #F8C76C;
  /* background-image: linear-gradient(10deg, #FBAB7E 0%, #F7CE68 100%); */
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-out;
  color: white;
}

@media (max-width: 800px) {
  .content {
    width: 80%;
    left: 10%;
  }
}
@media (max-width: 547px) {
  .content {
    position: fixed;
    top: 13%;
  }
}
/* .content{
  position: fixed;
  top: 10%;
  left: 30%;
  width: 40%;
  padding: 1rem;
  background-color: rgb(255 , 255 , 255);
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,  0, .5);
  transition: transform .5s ease-out;
  z-index: 2;
  text-align: center;
}
@media(max-width: 550px){
  .content{
      width: 80%;
      left: 10%;
  }
} */