@import url("https://fonts,googleapis.com/css?family=Raleway:400,400i,700");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
.Logo {
    display: flex;
    align-items: center;

  }
  .Logo img {
    width: 80px;
    height: 4rem;
    margin: .5rem;
  }

.Logo div {
    /* --fill-color: white;
    position: relative;
    display: block;
    /* font: 700 2rem Raleway, sans-serif; */
    /*font: 700 2.5rem Syne Mono, monospace;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--fill-color);
    background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
    color: transparent;
    background-clip: text;
    transition: 0.5s linear; */
  
     
}
.Logo div:hover{
  background-size: 100%;
}

@media (max-width: 549px) {
  .Logo img {
    width: 60px;
    height: 4rem;
    margin: .5rem;
  }

.Logo div {
    font: 600 2rem Raleway, sans-serif;
}
}