@import url("https://fonts,googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
.Logo {
  display: flex;
  align-items: center;
}
.Logo img {
  width: 80px;
  height: 4rem;
  margin: 0.5rem;
}

.Logo div {
  font-size: 40px;
}
.Logo div:hover {
  background-size: 100%;
}

@media (max-width: 549px) {
  .Logo img {
    width: 60px;
    height: 4rem;
    margin: 0.5rem;
  }
}
