.BalloonPreview {
  width: 650px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  margin: 0 auto;
}
.colors {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px; 
  margin: 0 auto;
}
.Preview{
  z-index: -1;
}
.balloon {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  padding-left: 18px;
}
.price {
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  color: slategray;
  font-size: 32px;
  padding: 5px;
  margin-bottom: 2rem;
  border-radius: 10px;
}

@media (max-width: 1020px) {
  .BalloonPreview {
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
  }
  .price {
    margin-top: 1rem;
  }
}

