.Drawer .content {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  font-size: 2rem;
  background-color:  rgb(0, 255, 221);
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  transition: transform .3s ease-out;
}

.Drawer .content {
  background: radial-gradient(circle farthest-corner at 100px 50px, #FEFFFF, #00ffdd);
  }

.open {
  transform: translateX(0);
}
.close {
  transform: translateX(-260px);
}

@media (min-width: 550px) {
  .Drawer  {
    display: none;
  }
}