.Order{
    /* list-style-type: none;
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
    max-width: 600px;
    min-width: 300px;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    background-color: #fff;
    color: #000;
    border: 5px solid #FBAB7E;
    box-shadow: 0 10px 15px #fbab7e; */
    color: #fff;
    background-color: #F8C76C;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 1em;
    padding: 1em;
    margin-bottom:2em;
    flex-basis: 400px;
    flex-grow: 1;
    margin-left: 1em;
    margin-right: 1em;
    box-shadow: 0 10px 15px #fbab7e;
}

.Order .colors {
    border: 2px solid gray;
    border-radius: 0.4em;
    padding: 0.4em;
    display: inline-block;
    margin: 0 0.3em 0.3em 0;
  }

.Order .info{
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.Order .price {
  font-size: 1.5rem;
  margin-bottom: 3px;
  color: slategray;
}